.container{
    width: 80%;
    background-color: #f0a500;
    margin: 5% auto;
    padding: 3%;
    color: white;
    font-family: 'Comic Neue', cursive;
}

body{
    background-color: white;
}

label{
    font-size: 20px !important;
}
